@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Texte noir en mode clair */
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html.dark {
  --foreground-rgb: 255, 255, 255; /* Texte blanc en mode sombre */
  --background-start-rgb: 32, 32, 32;
  --background-end-rgb: 16, 16, 16;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #000;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.3); 
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.checkbox:before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}
.checkbox:checked:before {
  transform: scale(1);
}

.dark-mode-input {
  visibility: hidden;
}

.dark-mode-label {
  background-color: black;
  height: 20px;  
  width: 40px;   
  margin-top: 8px;
  position: relative;
  border-radius: 12px;  
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.dark-mode-circle {
  width: 16px;   
  height: 16px;  
  background-color: white;
  position: absolute;
  top: 2px;     // Ajustement pour centrer la poignée verticalement
  left: 2px;    // Ajustement pour aligner la poignée à gauche
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  // Réduction de l'ombre
  transition: transform 0.3s, background-color 0.3s;
}

.dark-mode-input:checked + .dark-mode-label {
  background-color: white;
}

.dark-mode-input:checked + .dark-mode-label .dark-mode-circle {
  background-color: black;
  transform: translateX(20px);  // Ajustement de la distance de translation pour correspondre à la nouvelle largeur du toggle
}